name: Rust

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]   # trigger on version tags
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write   # needed for creating releases

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose --release
      - name: Run tests
        run: cargo test --verbose
      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          body: |
            Automated release from CI.
          draft: false
          prerelease: false
          token: ${{ secrets.RELEASE_PAT }}
      - name: Upload binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: target/release/snapper-TUI-rust
          token: ${{ secrets.RELEASE_PAT }}
